src/main/resources/Atti/tipi-base-siecic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/siecic/tipibase" xmlns:bt="http://schemi.processotelematico.giustizia.it/tipi" xmlns:at="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemi.processotelematico.giustizia.it/siecic/tipibase" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi" schemaLocation="./tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche" schemaLocation="./tipi-anagrafiche.xsd"/>
	<xs:include schemaLocation="./enum/tipi-enum-siecic.xsd"/>
	<xs:simpleType name="CodiceTavolare">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,6}(/([IXCDVML]+)|(/[0-9]+))?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TitoloEsecutivo">
		<xs:annotation>
			<xs:documentation>Informazioni specifiche per un titolo esecutivo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descrizione" type="xs:string"/>
			<xs:element name="ipoteca" nillable="true" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Elemento nillable se non esiste ipoteca associata al titolo. L'assenza dell'elemento indica la non indicazione dei dati relativi un ipoteca esistente</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="numero" type="xs:positiveInteger"/>
						<xs:element name="anno" type="xs:positiveInteger"/>
						<xs:element name="dataIscrizione" type="xs:date"/>
						<xs:element name="importo" type="bt:Valuta"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="numero" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="dataEmissione" type="xs:date" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="tipologia" type="TipologiaTitolo" use="required"/>
	</xs:complexType>
	<xs:complexType name="Titolo">
		<xs:annotation>
			<xs:documentation>Informazioni per un titolo di credito vantato verso uno o più debitori</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="titoloEsecutivo" type="TitoloEsecutivo"/>
				<xs:element name="titoloNonEsecutivo">
					<xs:complexType>
						<xs:attribute name="tipologia" type="TipologiaTitoloNonEsecutivo" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element ref="debitore" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Debitore verso il quale è vantato il titolo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Credito">
		<xs:annotation>
			<xs:documentation>Associazione dei crediti con le anagrafiche dei creditori</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CreditoBase">
				<xs:sequence>
					<xs:element name="creditore" type="at:RiferimentoSoggetto"/>
					<xs:element name="titolo" type="TitoloEsecutivo" minOccurs="0"/>
					<xs:element name="debitore" type="at:RiferimentoSoggetto" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Diritto">
		<xs:annotation>
			<xs:documentation>Rappresentazione del diritto vantabile su un bene mobile o immobile</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="TipologiaDiritto">
				<xs:attribute name="quota" type="xs:float" use="required"/>
				<xs:attribute name="stato" use="optional" default="Inventariato">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Inventariato"/>
							<xs:enumeration value="NonRinvenuto"/>
							<xs:enumeration value="InventariatoTerzo"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="stima" type="bt:Valuta"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DatiCatastali">
		<xs:annotation>
			<xs:documentation>Dati necessari per l’identificazione catastale di un bene immobile</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="sezione" type="xs:string"/>
			<xs:element name="foglio" type="xs:string"/>
			<xs:element name="particella" type="xs:string"/>
			<xs:element name="subparticella" type="xs:string" minOccurs="0"/>
			<xs:element name="subalterno" type="xs:string" minOccurs="0"/>
			<xs:element name="subalterno2" type="xs:string" minOccurs="0"/>
			<xs:element name="graffato" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DatiTavolare">
		<xs:sequence>
			<xs:element name="comune" type="xs:string">
				<xs:annotation>
					<xs:documentation>Informazione relativa al Comune (catastale oppure censuario)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partitaTavolare" type="CodiceTavolare">
				<xs:annotation>
					<xs:documentation>Informazione relativa al numero della partita tavolare</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="corpoTavolare" type="CodiceTavolare" minOccurs="0"/>
			<xs:element name="particellaCatastale" type="CodiceTavolare" minOccurs="0"/>
			<xs:element name="subalterno" type="CodiceTavolare" minOccurs="0"/>
			<xs:element name="particellaFondiaria" type="CodiceTavolare" minOccurs="0"/>
			<xs:element name="particellaEdilizia" type="CodiceTavolare" minOccurs="0"/>
			<xs:element name="particelleMateriali" type="CodiceTavolare" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeneImmobile">
		<xs:annotation>
			<xs:documentation>Informazioni complete bene immobile</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descrizione" type="xs:string">
				<xs:annotation>
					<xs:documentation>Descrizione del bene</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indirizzo" type="at:Indirizzo"/>
			<xs:element name="catasto">
				<xs:annotation>
					<xs:documentation>Tipologia di catasto: urbano / terreni</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NCEU">
							<xs:annotation>
								<xs:documentation>Nuovo Catasto Edilizio Urbano</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="NCT">
							<xs:annotation>
								<xs:documentation>Nuovo Catasto Terreni</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="datiCatastali" type="DatiCatastali" maxOccurs="unbounded"/>
				<xs:element name="datiDenuncia">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tipologia">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="P">
											<xs:annotation>
												<xs:documentation>Protocollo</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="S">
											<xs:annotation>
												<xs:documentation>Scheda</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="V">
											<xs:annotation>
												<xs:documentation>Variazione</xs:documentation>
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numero" type="xs:int"/>
							<xs:element name="anno" type="xs:int"/>
							<xs:element name="data" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="classe">
				<xs:annotation>
					<xs:documentation>Classe / tipologia del bene</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TipologiaClasseImmobiliare">
							<xs:attribute name="classato" type="xs:boolean" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Informazioni specifiche per accatastamenti "urbani"</xs:documentation>
					</xs:annotation>
					<xs:element name="edificio" type="xs:string"/>
					<xs:element name="scala" type="xs:string"/>
					<xs:element name="interno" type="xs:string"/>
					<xs:element name="piano" type="xs:string"/>
					<xs:element name="vani" type="xs:int"/>
				</xs:sequence>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Informazioni specifiche per accatastamenti "terreni"</xs:documentation>
					</xs:annotation>
					<xs:element name="superficie">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="unitamisura" type="UnitaMisuraSuperficie" use="required"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="riferimento" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero di riferimento dell'immobile nel sistema di gestione registroi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:NMTOKEN" use="optional">
			<xs:annotation>
				<xs:documentation>Chiave opzionale per l'identificazione del bene</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BeneMobile">
		<xs:annotation>
			<xs:documentation>Informazioni complete bene mobile</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tipologia" type="xs:string">
				<xs:annotation>
					<xs:documentation>La codifica è descritta nell'allegato 1 della Documentazione Specifica di Interoperabilità</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descrizione" type="xs:string"/>
			<xs:element name="ubicazione" type="at:Indirizzo" minOccurs="0"/>
			<xs:element name="quantita" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attribute name="unitamisura" type="UnitaMisuraQuantita" default="UN"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="riferimentoInventario" type="xs:string" minOccurs="0"/>
			<xs:element name="dataInventario" type="xs:date" minOccurs="0"/>
			<xs:element name="valoreBene" type="bt:Valuta" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:NMTOKEN" use="optional">
			<xs:annotation>
				<xs:documentation>Chiave opzionale per l'identificazione del bene</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CreditoBase">
		<xs:annotation>
			<xs:documentation>Informazioni di base del credito</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="capitale" type="bt:Valuta">
				<xs:annotation>
					<xs:documentation>Sorte del credito alla data di decorrenza</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naturaPrivilegio" nillable="true">
				<xs:annotation>
					<xs:documentation>Natura del credito, indica la tipologia del privilegio. Se non specificato il credito e' di tipo chirografo</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TipologiaPrivilegio">
							<xs:attribute name="prededotto" type="xs:boolean" default="false"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="importo" type="bt:Valuta" nillable="true">
				<xs:annotation>
					<xs:documentation>Importo attualizzato</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataAggiornamento" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Data della eventuale attualizzazione</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataDecorrenza" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data di decorrenza del credito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rate" nillable="true" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Solo per mutui e finanziamenti</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataScadenza" type="xs:date"/>
						<xs:element name="quotaCapitale" type="xs:float"/>
						<xs:element name="quotaInteressi" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="interessi" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Modalità di calcolo degli interessi sul debito</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="convenzionale" type="Rata" minOccurs="0"/>
						<xs:element name="mora" type="Rata"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="spese" nillable="true" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Elemento per indicare spese legali sostenute dal creditore che danno diritto alla distribuzione in privilegio oppure in chirografo</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="importo" type="bt:Valuta"/>
						<xs:element name="descrizione" type="xs:string"/>
						<xs:element name="privilegio" type="TipologiaPrivilegio" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accessori" nillable="true" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Elemento per indicare crediti accessori (in chirografo)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="importo" type="bt:Valuta"/>
						<xs:element name="descrizione" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="parametri" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parametri del calcolo di attualizzazione</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="capitalizzazione" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Annuale"/>
									<xs:enumeration value="Semestrale"/>
									<xs:enumeration value="Trimestrale"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="annoCommerciale" type="xs:boolean" default="false"/>
						<xs:element name="decorrenzaInizioAnno" type="xs:boolean" default="false"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RiferimentoCronologico">
		<xs:annotation>
			<xs:documentation>Riferimento numerico legato ad un evento o ad un fascicolo</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Cronologico" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="RiferimentoInsinuazione">
		<xs:annotation>
			<xs:documentation>Riferimento alla domanda di ammissione al passivo o rivendica </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Identificativo" use="required">
			<xs:annotation>
				<xs:documentation>La sintassi dell'identificativo è "Pnnnnn" per le domande inviate al curatore e "Cnnnnn" per quelle inviate alla cancelleria</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"/>
					<xs:pattern value="(P[0-9]{9,9})|(C[0-9]{9,9})"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RiferimentoCronologicoAnnuale">
		<xs:annotation>
			<xs:documentation>Riferimento numerico annuale  legato ad un evento o ad un fascicolo</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Cronologico" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="Anno" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="ListaBeni">
		<xs:annotation>
			<xs:documentation>Insieme di beni</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="beneImmobile"/>
			<xs:element ref="beneMobile"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Rata">
		<xs:annotation>
			<xs:documentation>Rappresentazione di una rata di un prestito</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="fisso" type="bt:Percentuale"/>
			<xs:element name="variabile">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nome">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="TRI">
										<xs:annotation>
											<xs:documentation>Tasso Riferimento (ex TUS)</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="TLE">
										<xs:annotation>
											<xs:documentation>Tasso legale</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="TPRI">
										<xs:annotation>
											<xs:documentation>Tasso Prime-Rate Interbancario</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="EB360M1">
										<xs:annotation>
											<xs:documentation>Euribor 360 a 1 mese</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="EB360M12">
										<xs:annotation>
											<xs:documentation>Euribor 360 a 12 mesi</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="EB365M1">
										<xs:annotation>
											<xs:documentation>Euribor 365 a 1 mese</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="EB365M12">
										<xs:annotation>
											<xs:documentation>Euribor 365 a 12 mesi</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="TUC">
										<xs:annotation>
											<xs:documentation>Tasso Usura Crediti</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="TUM">
										<xs:annotation>
											<xs:documentation>Tasso Usura Mutui</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="spread" type="bt:Percentuale" minOccurs="0"/>
						<xs:element name="minimo" type="bt:Percentuale" minOccurs="0"/>
						<xs:element name="massimo" type="bt:Percentuale" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="titolo" type="Titolo">
		<xs:annotation>
			<xs:documentation>Titolo vantato dal depositante verso debitori</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditore" type="at:RiferimentoSoggetto">
		<xs:annotation>
			<xs:documentation>Riferimento ad un creditore già censito dal sistema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="debitore" type="at:RiferimentoSoggetto">
		<xs:annotation>
			<xs:documentation>Riferimento ad un debitore già censito dal sistema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="precisazioneCredito" type="CreditoBase">
		<xs:annotation>
			<xs:documentation>Precisazione dei credito vantati dal creditore depositante</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="importo" type="bt:Valuta">
		<xs:annotation>
			<xs:documentation>Specifica di un Importo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="beneImmobile" type="BeneImmobile">
		<xs:annotation>
			<xs:documentation>Specifica di un bene immobile</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="beneMobile" type="BeneMobile">
		<xs:annotation>
			<xs:documentation>Specifica di un bene mobile</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="lotto" type="xs:positiveInteger">
		<xs:annotation>
			<xs:documentation>Riferimento ad un lotto già presente nel sistema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="quesito" type="xs:string">
		<xs:annotation>
			<xs:documentation>Quesito Identificativo dell'Incarico</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dettagliRiparto">
		<xs:annotation>
			<xs:documentation>Dettagli del piano di riparto</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="SommaDistribuita" type="bt:Valuta"/>
				<xs:element name="Prededuzione" nillable="true">
					<xs:annotation>
						<xs:documentation>Somme ripartite in prededuzione</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="CompensoEsperto" type="bt:Valuta" nillable="true">
								<xs:annotation>
									<xs:documentation>Compenso per l’attività svolta quale esperto contabile;      onorari,    competenze, Iva e C.P. comprese (da attribuire a  tutti gli esecutati) </xs:documentation>
									<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
								</xs:annotation>
							</xs:element>
							<xs:element name="SpeseProcedura" type="bt:Valuta" nillable="true">
								<xs:annotation>
									<xs:documentation>spese della procedura esecutiva e relativo onorario</xs:documentation>
									<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
								</xs:annotation>
							</xs:element>
							<xs:element name="LegaleProcedura" type="bt:Valuta" nillable="true" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Compenso per l’attività svolta di legale incaricato per la presente procedura esecutiva</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CompensoCustode" type="bt:Valuta" nillable="true" minOccurs="0">
								<xs:annotation>
									<xs:documentation>compenso per attività di custode, come da liquidazione del G.E. </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="Privilegiato" nillable="true" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Distribuzione ai creditori dotati di privilegio con indicazione di quale somma è riconosciuta in privilegio ed indicazione della somma decaduta in chirografo</xs:documentation>
						<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="creditore"/>
							<xs:element ref="importo"/>
							<xs:element name="ImportoChirografo" type="bt:Valuta"/>
						</xs:sequence>
						<xs:attribute name="privilegio" type="TipologiaPrivilegio" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Chirografo" nillable="true" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Distribuzione ricavata ai creditori chirografari con indicazione dello specifico debitore</xs:documentation>
						<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="creditore"/>
							<xs:element ref="debitore"/>
							<xs:element ref="importo"/>
						</xs:sequence>
						<xs:attribute name="tempestivo" type="xs:boolean" default="true"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Comproprietari" nillable="true" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Eventuali somme restituite al comproprietario con relativa anagrafica</xs:documentation>
						<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Comproprietario" type="at:RiferimentoSoggetto"/>
							<xs:element ref="debitore"/>
							<xs:element ref="importo"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Restituzione" nillable="true" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Eventuali somme restituite al debitore</xs:documentation>
						<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="debitore"/>
							<xs:element ref="importo"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="progetto">
				<xs:annotation>
					<xs:documentation>Identificativo del progetto di distribuzione</xs:documentation>
					<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Udienza">
		<xs:attribute name="data" type="xs:dateTime" use="required"/>
		<xs:attribute name="idUdienza" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="UdienzaExt">
		<xs:complexContent>
			<xs:extension base="Udienza">
				<xs:sequence>
					<xs:element name="Domanda" type="RiferimentoInsinuazione" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
