src/main/resources/Atti/siecic_v3/Ordinanza-siecic-esecuzioni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by TEAM (RENEGADE) -->
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/siecic/esecuzioni/magistrato/Ordinanza/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v1" xmlns:at="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche" xmlns:bt="http://schemi.processotelematico.giustizia.it/tipi" xmlns:evt="http://schemi.processotelematico.giustizia.it/siecic/eventi" xmlns:st="http://schemi.processotelematico.giustizia.it/siecic/tipibase" xmlns:ns1="http://schemi.processotelematico.giustizia.it/eventi/magistrato" targetNamespace="http://schemi.processotelematico.giustizia.it/siecic/esecuzioni/magistrato/Ordinanza/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v1" schemaLocation="../base_v1/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche" schemaLocation="../tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/siecic/tipibase" schemaLocation="../tipi-base-siecic.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/siecic/eventi" schemaLocation="../eventi.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi" schemaLocation="../tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/eventi/magistrato" schemaLocation="../eventi-magistrato.xsd"/>
	<xs:annotation>
		<xs:documentation>ATTI  DEL GIUDICE DELEGATO</xs:documentation>
		<xs:documentation>Gli atti qui definiti si riferiscono a procedimenti in essere</xs:documentation>
		<xs:documentation>Lo schema non fa parte delle specifiche di interoperabilita' da pubblicare</xs:documentation>
	</xs:annotation>
	<xs:element name="OrdinanzaGenerica">
		<xs:annotation>
			<xs:documentation>ordinanza generica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoMagistrato">
					<xs:choice minOccurs="0">
						<xs:element ref="evt:RimessionePresidenteSezione"/>
						<xs:element ref="evt:RimessionePresidenteTribunale"/>
						<xs:element ref="evt:OrdinanzaDiAssegnazione"/>
						<xs:element ref="evt:RigettoIstanzaAssegnazione"/>
						<xs:element ref="evt:rinvioUdienza"/>
						<xs:element ref="evt:IntegrazionePignoramento"/>
						<xs:element ref="evt:ImprocedibilitaSottrazioneBeni"/>
						<xs:element ref="evt:ImprocedibilitaDichiarazioneFallimento"/>
						<xs:element ref="evt:ImprocedibilitaAmmissioneConcordato"/>
						<xs:element ref="evt:IntroduzioneAccertamentoIncidentale"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrdinanzaVendita">
		<xs:annotation>
			<xs:documentation>Ordinanza di Vendita</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoMagistrato">
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="st:importo"/>
								<xs:element name="UdienzaSenzaIncanto" type="xs:dateTime"/>
								<xs:element name="UdienzaIncanto" type="xs:dateTime" nillable="true"/>
								<xs:element name="Cauzione" type="bt:Percentuale" default="10"/>
								<xs:element name="Spese" type="bt:Percentuale" nillable="true"/>
							</xs:sequence>
							<xs:element name="Delegata">
								<xs:annotation>
									<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto">
											<xs:sequence>
												<xs:element name="TipologiaDelega">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="IVG"/>
															<xs:enumeration value="Commissionario"/>
															<xs:enumeration value="Notaio"/>
															<xs:enumeration value="Professionista"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Lotto" type="xs:positiveInteger">
								<xs:annotation>
									<xs:documentation>Ideintificazione numerica del lotto oggetto di ordinanza se noto e già censito nel sistema informativo</xs:documentation>
									<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
								</xs:annotation>
							</xs:element>
							<xs:choice>
								<xs:annotation>
									<xs:documentation>Beni che costituiscono il lotto di cui all'ordinanza in oggetto nell'ipotesi in cui il lotto non sia ancora stato costituito</xs:documentation>
								</xs:annotation>
								<xs:element ref="st:beneImmobile" maxOccurs="unbounded"/>
								<xs:element ref="st:beneMobile" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrdinanzaVenditaMobiliare">
		<xs:annotation>
			<xs:documentation>Ordinanza di Vendita</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoMagistrato">
					<xs:sequence>
						<xs:choice>
							<xs:element name="UdienzaSenzaIncanto">
								<xs:complexType>
									<xs:attribute name="dataTermine" type="xs:dateTime" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="UdienzaIncanto">
								<xs:complexType>
									<xs:attribute name="data" type="xs:dateTime"/>
									<xs:attribute name="percentualeRibasso" type="bt:Percentuale"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="Delegata">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="TipologiaDelega">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="IVG"/>
														<xs:enumeration value="Commissionario"/>
														<xs:enumeration value="Notaio"/>
														<xs:enumeration value="Professionista"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Lotto">
								<xs:annotation>
									<xs:documentation>Identificazione numerica del lotto oggetto di ordinanza se noto e già censito nel sistema informativo</xs:documentation>
									<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:positiveInteger">
											<xs:attribute name="Importo" type="bt:Valuta" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrdinanzaNomina">
		<xs:annotation>
			<xs:documentation>Ordinanza di Nomina custode e stimatore</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoMagistrato">
					<xs:sequence>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="Incarico">
								<xs:annotation>
									<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="NominaCustode" type="pt:IstanzaEvento"/>
											<xs:element name="NominaStimatore" type="pt:IstanzaEvento"/>
										</xs:choice>
										<xs:element name="quesito" type="xs:string" minOccurs="0"/>
										<xs:choice>
											<xs:element name="Incaricato" minOccurs="0">
												<xs:annotation>
													<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="at:Soggetto"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="NuovaAnagraficaIncarico" minOccurs="0">
												<xs:annotation>
													<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="at:Soggetto">
															<xs:sequence>
																<xs:element name="Indirizzo" type="xs:string" minOccurs="0"/>
																<xs:element name="CAP" type="xs:string" minOccurs="0"/>
																<xs:element name="Provincia" type="xs:string" minOccurs="0"/>
																<xs:element name="Citta" type="xs:string" minOccurs="0"/>
																<xs:element name="Telefono" type="xs:string" minOccurs="0"/>
																<xs:element name="Fax" type="xs:string" minOccurs="0"/>
																<xs:element name="PEC" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="Lotto" type="xs:positiveInteger">
												<xs:annotation>
													<xs:documentation>Ideintificazione numerica del lotto oggetto di ordinanza se noto e già censito nel sistema informativo</xs:documentation>
													<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:element name="dispositivo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:fissazioneUdienzaComparizioneParti"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DistribuzioneRicavato">
		<xs:annotation>
			<xs:documentation>Ordinanza di Distribuzione della somma ricavata</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoMagistrato">
					<xs:sequence>
						<xs:element name="sommaDistribuita" type="bt:Valuta"/>
						<xs:element name="spese" type="bt:Valuta" minOccurs="0"/>
						<xs:element name="rifProg" type="xs:string" minOccurs="0"/>
						<xs:element name="contabile" type="at:Soggetto" minOccurs="0"/>
						<xs:element name="Parte" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:attribute name="importo" type="xs:double"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
