src/main/resources/Atti/sicid_v1/Introduttivi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bt="http://schemi.processotelematico.giustizia.it/tipi" xmlns:at="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche" xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v1" xmlns:evt="http://schemi.processotelematico.giustizia.it/eventi/parte" xmlns="http://schemi.processotelematico.giustizia.it/sicid/introduttivi/v1" targetNamespace="http://schemi.processotelematico.giustizia.it/sicid/introduttivi/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi" schemaLocation="../tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v1" schemaLocation="../base_v1/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/eventi/parte" schemaLocation="../eventi-parte.xsd"/>
	<xs:annotation>
		<xs:documentation>ATTI DI PARTE INTRODUTTIVI</xs:documentation>
		<xs:documentation>Gli atti qui definiti iscrivono una nuova causa al ruolo per citazione o ricorso</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DatiIntimazione">
		<xs:sequence>
			<xs:element name="Data" type="xs:date"/>
			<xs:element name="Provincia" type="xs:normalizedString" minOccurs="0"/>
			<xs:element name="Capoluogo" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Comune" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDecreto">
		<xs:choice>
			<xs:element name="somma" type="bt:Valuta"/>
			<xs:element name="somma-beni" type="bt:Valuta"/>
			<xs:element name="oneri-condominiali" type="bt:Valuta"/>
			<xs:element name="consegna-beni" type="bt:Valuta"/>
		</xs:choice>
		<xs:attribute name="esecutivo" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:simpleType name="TipoDivorzio">
		<xs:restriction base="xs:string">
			<xs:enumeration value="scioglimentoMatrimonio"/>
			<xs:enumeration value="cessazioneEffettiCivili"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DatiMatrimonio">
		<xs:sequence>
			<xs:element name="ParteCivile" type="xs:string" minOccurs="0"/>
			<xs:element name="ParteReligiosa" type="xs:string" minOccurs="0"/>
			<xs:element name="NumeroMatrimonio" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="RegistroMatrimonio" type="xs:string" minOccurs="0"/>
			<xs:element name="SerieMatrimonio" type="xs:string" minOccurs="0"/>
			<xs:element name="CittaMatrimonio" type="xs:string" minOccurs="0"/>
			<xs:element name="ProvinciaMatrimonio" type="xs:string" minOccurs="0"/>
			<xs:element name="DataCelebrazioneMatrimonio" type="xs:date" minOccurs="0"/>
			<xs:element name="DataOmologazioneMatrimonio" type="xs:date" minOccurs="0"/>
			<xs:element name="LuogoTrascrizioneMatrmonio" type="xs:string" minOccurs="0"/>
			<xs:element name="AnnoRegistrazione" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoMerito">
		<xs:choice>
			<xs:element name="atp" type="bt:EmptyElement"/>
			<xs:element name="fornero" type="bt:EmptyElement"/>
			<xs:element name="generico" type="bt:EmptyElement"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Citazione">
		<xs:annotation>
			<xs:documentation>Citazione generica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="istanze" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Istanze presentabili contestualmente alla citazione</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:SubProcExArt186"/>
									<xs:element ref="evt:SubProcExArt124c7"/>
									<xs:element ref="evt:SubProcRicusazioneGiudice"/>
									<xs:element ref="evt:SubProcCautIspezionePreventiva"/>
									<xs:element ref="evt:SubProcCautProvaTestim_AccertTecnicoPreventivo"/>
									<xs:element ref="evt:SubProcCautProvvUurgenzaExArt700"/>
									<xs:element ref="evt:SubProcCautSequestroConservativoExArt671"/>
									<xs:element ref="evt:SubProcCautSequestroGiudiziarioExArt670"/>
									<xs:element ref="evt:SubProcCautSequestroLiberatorioExArt687"/>
									<xs:element ref="evt:SubProcProposizioneQuerelaFalso"/>
									<xs:element ref="evt:SubProcCorrezioneErroreMateriale"/>
									<xs:element ref="evt:SubProcSospensione"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Datacitazione" type="xs:date" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CitazioneAppello">
		<xs:annotation>
			<xs:documentation>Citazione in appello</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiAppello" type="pt:GradoPrecedente"/>
						<xs:element name="istanze" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Istanze presentabili contestualmente alla citazione</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="evt:IstanzaSospensioneProvvisoriaEsecuzione" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Datacitazione" type="xs:date" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CitazioneSfratto">
		<xs:annotation>
			<xs:documentation>Citazione in materia di sfratto, morosita', finita locazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="Intimazione" type="DatiIntimazione" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Datacitazione" type="xs:date" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CitazioneMateriaSocetaria">
		<xs:annotation>
			<xs:documentation>Citazione in materia societaria (DEPRECATO)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CitazioneInRiassunzione">
		<xs:annotation>
			<xs:documentation>Citazione in riassunzione e riassunzione in appello</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiProcedimento" type="pt:DatiRiassunzioneProcedimento"/>
						<xs:element name="DatiAppello" type="pt:GradoPrecedente" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Datacitazione" type="xs:date" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OpposizioneDecretoIngiuntivo">
		<xs:annotation>
			<xs:documentation>Atto di opposizione a decreto ingiuntivo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiDecreto">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="causa" type="pt:RiferimentoFascicolo" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Riferimento al decreto opposto, come identificativi di procedimento (anno numero)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="decreto" type="pt:RiferimentoProvvedimento">
										<xs:annotation>
											<xs:documentation>Riferimento al decreto ingiuntivo</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="data" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data di emissione del decreto</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Datacitazione" type="xs:date" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ricorso">
		<xs:annotation>
			<xs:documentation>Iscrizione al ruolo di un ricorso generico</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="RiferimentoMerito" type="pt:RiferimentoFascicolo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Riferimento alla causa di merito del ricorso</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TipoMerito" type="TipoMerito" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Riferimento alla tipologia di merito del ricorso</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoAppello">
		<xs:annotation>
			<xs:documentation>Iscrizione al ruolo di un ricorso in appello</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiAppello" type="pt:GradoPrecedente"/>
						<xs:element name="istanze" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="evt:IstanzaSospensioneProvvisoriaEsecuzione"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoCautelareAnteCausam">
		<xs:annotation>
			<xs:documentation>Iscrizione di un ricorso per un provvedimento cautelare ante causam.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="RiferimentoMerito" type="pt:RiferimentoFascicolo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Riferimento alla causa di merito del ricorso</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoDecretoIngiuntivo">
		<xs:annotation>
			<xs:documentation>Iscrizione di un ricorso per decreto ingiuntivo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="TipoDecreto" type="TipoDecreto"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModificaCondizioniDivorzio">
		<xs:annotation>
			<xs:documentation>Iscrizione di un Modifica Condizioni di Divorzio (VG)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiMatrimonio" type="DatiMatrimonio"/>
						<xs:element name="DatiDivorzioVG">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Sentenza" type="pt:RiferimentoProvvedimento"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModificaCondizioniSeparazione">
		<xs:annotation>
			<xs:documentation>Iscrizione di una Modifica Condizioni di Separazione (VG)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiMatrimonio" type="DatiMatrimonio"/>
						<xs:element name="DatiDivorzio">
							<xs:complexType>
								<xs:choice>
									<xs:element name="Congiunto">
										<xs:complexType>
											<xs:choice>
												<xs:element ref="SeparazioneGiudiziale"/>
												<xs:element ref="SeparazioneConsensuale"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="Giudiziale">
										<xs:complexType>
											<xs:choice>
												<xs:element ref="SeparazioneConsensuale"/>
												<xs:element ref="SeparazioneGiudiziale"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:choice>
								<xs:attribute name="tipo" type="TipoDivorzio" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoDivorzio">
		<xs:annotation>
			<xs:documentation>Iscrizione di un ricorso per divorzio giudiziale o consensuale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiMatrimonio" type="DatiMatrimonio"/>
						<xs:element name="DatiDivorzio">
							<xs:complexType>
								<xs:choice>
									<xs:element name="Congiunto">
										<xs:complexType>
											<xs:choice>
												<xs:element ref="SeparazioneGiudiziale"/>
												<xs:element ref="SeparazioneConsensuale"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="Giudiziale">
										<xs:complexType>
											<xs:choice>
												<xs:element ref="SeparazioneGiudiziale"/>
												<xs:element ref="SeparazioneConsensuale"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:choice>
								<xs:attribute name="tipo" type="TipoDivorzio" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoSeparazione">
		<xs:annotation>
			<xs:documentation>Iscrizione di un ricorso per separazione giudiziale o consensuale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element name="DatiMatrimonio" type="DatiMatrimonio"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoSequestroConservativo">
		<xs:annotation>
			<xs:documentation>Iscrizione di un ricorso sequestro conservativo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoSequestroGiudiziario">
		<xs:annotation>
			<xs:documentation>iscrizione di un ricorso sequestro giudiziario</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ricorso702Bis">
		<xs:annotation>
			<xs:documentation>Iscrizione al ruolo di un ricorso ex Art. 702bis c.p.c.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element ref="pt:AnagraficaProcedimento"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SeparazioneGiudiziale">
		<xs:annotation>
			<xs:documentation>Dati della separazione giudiziale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Causa" type="pt:RiferimentoFascicolo" minOccurs="0"/>
				<xs:element name="Sentenza" type="pt:RiferimentoProvvedimento" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SeparazioneConsensuale">
		<xs:annotation>
			<xs:documentation>Dati della separazione consensuale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Causa" type="pt:RiferimentoFascicolo" minOccurs="0"/>
				<xs:element name="Omologazione" type="xs:date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
